* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #230F0F;
}

.body1 {
  padding: 0 4rem;
}

.navigation_checkbox {
  display: none;
}
.navigation_button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  z-index: 2000;
  top: 1.5rem;
  right: 1.5rem;
}
.navigation_icon {
  position: relative;
  margin-top: 1.5rem;
  margin-left: 0.75rem;
}
.navigation_icon, .navigation_icon::after, .navigation_icon::before {
  height: 1.5px;
  width: 1.5rem;
  background-color: red;
  display: inline-block;
}
.navigation_icon::after, .navigation_icon::before {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.5s;
}
.navigation_icon::after {
  top: 0.6rem;
}
.navigation_icon::before {
  top: -0.6rem;
}
.navigation_button:hover .navigation_icon::after {
  top: 0.8rem;
}
.navigation_button:hover .navigation_icon::before {
  top: -0.8rem;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation_background {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 1000;
}
.navigation_nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.5s;
  background-color: #DC4298;
}
.navigation_list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navigation_list .item {
  margin: 1rem;
  list-style: none;
  background-image: linear-gradient(105deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  text-align: center;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
}
.navigation_list .item:hover:not(.b) {
  background-position: 100%;
}
.navigation_list .link {
  font-size: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.navigation_list .btn {
  border: 0.449px solid #ffffff;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  background-image: linear-gradient(105deg, transparent 0%, transparent 50%, white 50%);
  color: #000000;
  transition: all 0.5s;
  background-size: 250%;
}
.navigation_list .btn:hover {
  background-position: 100%;
}
.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(150);
}
.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  width: 25%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}
.header_logo {
  display: flex;
  align-items: center;
}
.header_menu {
  display: none;
  background-color: #000000;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.header .header_menu1 {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header_item {
  display: flex;
  list-style: none;
}
.header_item .item {
  margin-right: 2.5rem;
  text-transform: capitalize;
  align-self: center;
}
.header_item .item-tag {
  display: inline-block;
  text-decoration: none;
}
.header_item .item-tag::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #230F0F;
  transition: all 0.5s;
}
.header_item .item-tag:hover:after {
  width: 100%;
}
.header_item .active {
  font-weight: bold;
  text-decoration: underline;
}
.header_item .btn {
  border: 0.449px solid #DC4298;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  color: #DC4298;
  transition: all 0.5s;
}
.header_item .btn:hover {
  background-color: #230F0F;
  color: white;
}
@media (max-width: 1000px) {
  .header .header_menu {
    display: block;
    position: relative;
  }
  .header .header_item {
    display: none;
  }
}

.container {
  padding: 3rem 0;
  width: 100%;
  min-height: 600px;
  display: grid;
  gap: 2rem;
  grid-template-areas: "h1 img1" " p1 img1  " "rate img1";
}

.container_img {
  grid-area: img1;
  align-self: center;
  justify-self: center;
}

.container_h1 {
  grid-area: h1;
  margin-top: 6rem;
  font-size: 30.558px;
}
@keyframes a-h1 {
  0% {
    background-image: linear-gradient(to right top, #DC4298, #DC4298, #DC4298, #DC4298, #DC4298);
  }
  100% {
    background-image: linear-gradient(to right top, #051937, #2f285e, #682e7c, #a9298b, #eb1289);
  }
}
.container_h1 h1 {
  animation-name: a-h1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container_p {
  grid-area: p1;
  font-size: 1rem;
}

.container_rate {
  grid-area: rate;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.container_rate .button {
  padding: 0.75rem 1rem;
  background-image: linear-gradient(50deg, transparent 0%, transparent 50%, #DC4298 50%);
  text-decoration: none;
  border-radius: 4px;
  color: #DC4298;
  align-self: center;
  border: #DC4298 solid 1px;
  background-size: 300%;
  transition: all 0.6s;
  font-size: 1rem;
}
.container_rate .button:hover, .container_rate .button:active {
  color: white;
  background-position: 100%;
}

@media (max-width: 1000px) {
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .container_rate {
    justify-content: center;
  }
  .container_h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  .container .svg {
    width: 300px;
    height: 300px;
  }
}
.container2 {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.container2_text {
  margin-right: 5rem;
  align-self: center;
}
.container2 .container2_img_img {
  width: 500px;
  height: 400px;
}
.container2 .text_h2 {
  font-weight: 700;
}
.container2 h2 {
  line-height: 2rem;
}
.container2 p {
  line-height: 1.5rem;
}
.container2_text_btn {
  margin-top: 3rem;
}
.container2 .btn {
  text-decoration: none;
  border-radius: 4px;
  background-image: linear-gradient(105deg, #DC4298 0%, #DC4298 50%, rgb(255, 255, 255) 50%);
  padding: 1rem 1.5rem;
  color: white;
  background-size: 230%;
  transition: all 0.6s;
}
.container2 .btn:hover, .container2 .btn:active {
  background-position: 100%;
  color: #DC4298;
  border: #DC4298 solid 1px;
}

@media (max-width: 1000px) {
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container2_text {
    margin-right: 0;
  }
  .container2_text_text {
    text-align: center;
  }
  .container2 .container2_img_img {
    width: 400px;
    height: 300px;
  }
  .container2_text_btn {
    text-align: center;
  }
}
.container_course {
  padding: 0 1rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .container_course {
    flex-direction: column;
    align-items: center;
  }
  .container_course .btn {
    margin-top: 1rem;
    padding: 1rem 3rem !important;
  }
}
.container_course_btn {
  display: flex;
  align-items: center;
}
.container_course_text {
  text-align: center;
}
.container_course .btn {
  background-image: linear-gradient(150deg, transparent 0%, transparent 50%, #DC4298 50%);
  transition: all 0.5s;
  background-size: 280%;
  padding: 0.7rem 1.5rem;
  color: #DC4298;
  text-decoration: none;
  border: #DC4298 solid 1px;
  border-radius: 4px;
}
.container_course .btn:hover, .container_course .btn:active {
  background-position: 100%;
  color: white;
}
.container_course_text {
  display: inline-block;
}
.container_course_text::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #DC4298;
  display: block;
  transition: all 0.6s;
  cursor: pointer;
}
.container_course_text:hover::after {
  width: 100%;
}

.container_sale {
  padding: 0 1rem;
  margin-top: 4rem;
}
.container_sale .border {
  border-top: solid 2px #DCDCE5;
  margin-top: 1.5rem;
}
.container_sale_btn {
  display: flex;
  justify-content: space-between;
}
.container_sale_btn .btn {
  text-decoration: none;
  padding: 0.7rem 1.25rem;
  border-radius: 4rem;
  border: rgba(35, 15, 15, 0.2) 1px solid;
  text-transform: capitalize;
}
.container_sale_btn .btn:first-child {
  background-color: #DC4298;
  color: white;
}
.container_sale_btn .btn:last-child {
  display: inline-block;
  background-image: linear-gradient(290deg, rgba(255, 255, 255, 0) 0%, #000000 85.49%, white 15%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
@media (max-width: 1200px) {
  .container_sale_btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
.container_sale_store {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  grid-template-rows: auto auto;
}
.container_sale_store .card {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-5, #ECEFF4);
  background: var(--black-white, #FFF);
  position: relative;
}
.container_sale_store .card_text {
  padding: 1rem 1rem;
}
.container_sale_store .card_text .title {
  display: inline-block;
}
.container_sale_store .card_text .title::after {
  content: "";
  height: 2px;
  width: 0;
  display: block;
  background: #DC4298;
  transition: all 1s;
}
.container_sale_store .card_text .title:hover::after {
  width: 100%;
}
.container_sale_store .img {
  width: 100%;
}
.container_sale_store .user {
  background-image: linear-gradient(50deg, white 0%, white 50%, #DC4298 50%);
  background-size: 420%;
  display: inline-flex;
  position: absolute;
  top: 40%;
  left: 1rem;
  border-radius: 50px;
  padding: 0.3rem;
  transition: all 2s;
}
.container_sale_store .user img {
  transition: all 1s;
}
.container_sale_store .user:hover {
  background-position: 100%;
}
.container_sale_store .user:hover span {
  color: white;
}
.container_sale_store .user:hover img {
  transform: rotate(360deg);
}
.container_sale_store .user span {
  align-self: flex-end;
  color: #DC4298;
  margin-right: 10px;
}
@media (max-width: 1400px) {
  .container_sale_store .user {
    display: none;
  }
}
.container_sale_store .date {
  color: #777795;
}
.container_sale_store .title {
  margin-top: 1rem;
}
.container_sale_store .comment {
  margin-top: 1rem;
  line-height: 1.25rem;
}
.container_sale_store .button {
  display: flex;
}
.container_sale_store .sell {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.container_sale_store .sell .spn1 {
  color: #DC4298;
  font-weight: 700;
  font-size: 1.5rem;
}
.container_sale_store .sell .spn2 {
  color: var(--black, #230F0F);
  font-weight: 400;
  font-size: 1.25rem;
  text-decoration: line-through;
}
.container_sale_store .btn {
  padding: 0.6rem 1.75rem;
  color: #DC4298;
  border: 1px solid #DC4298;
  border-radius: 0.5rem;
  text-transform: capitalize;
  text-decoration: none;
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #DC4298 50%);
  background-size: 250%;
  transition: all 0.6s;
}
.container_sale_store .btn:hover {
  background-position: 100%;
  color: white;
}

.container_color {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  margin-top: 5rem;
  background-color: #DC4298;
  height: 400px;
  width: 100%;
}
.container_color h1 {
  color: white;
  transition: all 0.6s;
}
.container_color h1:hover {
  color: black !important;
  transform: translateY(-10px);
}
.container_color .img {
  position: relative;
}
.container_color .img_box {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  z-index: 500;
}
.container_color .text {
  align-self: center;
}
.container_color .text .button {
  margin-top: 3rem;
  transition: all 0.7s;
}
.container_color .text .button:hover {
  transform: translateY(-10px);
}
.container_color .text .button:hover a {
  background-color: black;
  color: white;
}
.container_color .text a {
  text-decoration: none;
  background-color: white;
  color: #DC4298;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3rem;
  border-radius: 6px;
}
.container_color .text h1 {
  color: white;
  font-size: 45px;
}

@media (max-width: 1200px) {
  .container_color {
    display: none;
  }
}
.body3 {
  padding: 0 4rem;
  margin-top: 3rem;
}
.body3 p {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
}
.body3 .icon1 {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.body3 .icon1 img {
  width: 130px;
}
.body3 .icon2 {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
}
.body3 .icon3 {
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
}
.body3 .icon3 img {
  width: 150px;
}
@media (max-width: 1000px) {
  .body3 .icon,
  .body3 p {
    display: none;
  }
}

.container_end {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.container_end .border_top {
  border-top: 2px #DCDCE5 solid;
  margin: 2rem 0;
}
.container_end img {
  width: 450px;
}
.container_end p {
  text-align: start;
}
.container_end .p1 {
  font-weight: 700;
  font-size: 2rem;
}
.container_end .p2 {
  font-weight: 400;
  font-size: 1rem;
  color: #4D4D4D;
  line-height: 1.5rem;
}
.container_end .p3 {
  display: flex;
  justify-content: space-between;
}
.container_end .p4 {
  color: #1C1D4E;
}
.container_end .p5 {
  margin-top: 1rem;
  color: #80848E;
  font-size: 1rem;
  font-weight: 400;
}
.container_end .taga {
  transition: all 0.6s;
}
.container_end .taga:hover {
  transform: rotate(180deg);
}
@media (max-width: 1200px) {
  .container_end {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
  }
  .container_end_conten_text {
    margin-top: 2rem;
  }
  .container_end img {
    width: 300px;
  }
  .container_end .p3 {
    gap: 2rem;
    align-items: center;
  }
  .container_end .p5 {
    margin-top: 0;
  }
}

.footer1 {
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
}
.footer1 .event {
  display: grid;
  gap: 2rem;
  grid-template-areas: "h3 ." " col1 col2 ";
}
.footer1 h3 {
  grid-area: h3;
}
.footer1 .col1 {
  grid-area: col1;
}
.footer1 .col1 div {
  font-size: 1rem;
  font-weight: unset;
  color: #4D4D4D;
  text-align: start;
}
.footer1 .col1 div:not(:first-child) {
  margin-top: 1rem;
}
.footer1 .col2 {
  grid-area: col2;
}
.footer1 .col2 div {
  font-size: 1rem;
  font-weight: unset;
  color: #4D4D4D;
  text-align: start;
}
.footer1 .col2 div:not(:first-child) {
  margin-top: 1rem;
}
.footer1 .col div {
  font-size: 1rem;
  font-weight: unset;
  color: #4D4D4D;
  margin-top: 1rem;
  text-align: start;
}
.footer1 .col div:first-child {
  margin-top: 2rem;
}
.footer1 .contact img {
  width: 20px;
  margin-top: 1rem;
  margin-right: 0.7rem;
}
@media (max-width: 1200px) {
  .footer1 {
    gap: 0.5rem;
    display: grid;
    grid-template-areas: "event about" "event contact ";
  }
  .footer1 #div1 {
    margin-top: 1rem;
  }
  .footer1 .event {
    grid-area: event;
    grid-template-areas: "h3 " " col1  " "col2";
    gap: 0;
  }
  .footer1 .event h3 {
    margin-bottom: 2rem;
  }
  .footer1 .contact {
    grid-area: contact;
    margin-top: 0.5rem;
  }
  .footer1 .contact .about {
    grid-area: about;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  background-color: #0A0A0A;
  margin-top: 3rem;
}
.footer p {
  color: white;
}/*# sourceMappingURL=style.css.map */